In [1]:
teen_age=20
if teen_age > 18 :
    print("teen_age",teen_age)

teen_age 20

In [5]:
young_age=30
if young_age > 29 :
    print("young_age",young_age)

young_age 30

In [10]:
my_age=10
if my_age > 5 :
    print("teen_age",my_age)

teen_age 10

In [27]:
my_age=40
if my_age < 50 :
    print("young_age",my_age)

young_age 40

In [25]:
weekday="Wednesday"


if weekday=="Monday":
    print(" weekday")

elif weekday=="Tuesday":
    print(" weekday")  
elif weekday=="Wednesday":
    print(" weekday")  
elif weekday=="Thursday":
    print(" weekday")  
elif weekday=="Friday":
    print(" weekday")  
else:
    print(" weekend")

 weekday

In [33]:
income=10

if income>10 :
    print("i am profitable")
else:
    print("i lost")

i lost

In [34]:
my_age=19

if my_age>20 :
    print("i am elder")
else:
    print("i am younger")

i am younger

In [37]:
purchase_amount=100
if purchase_amount>100:
    print("30% discount")
elif purchase_amount<50:
    print("20% discount")
else:
    print("20% discount")

20% discount

In [38]:
movie_theater_price=[140,50,100]


if movie_theater_price=="balcony":
    print("140")
elif movie_theater_price=="chair":
    print("50")
else:
    print("bench")

bench

In [53]:
movie_theater_price=[140,50,100]
for p in movie_theater_price:
    print(p)
    if p==140:
         print("balcony")
    elif p==50:
        print("chair")
    
    else:
         print("bench")

140
balcony
50
chair
100
bench

In [13]:
vehicle ="car"
if vehicle=="bike" or vehicle =="scooty":
    print("two wheeler")
elif vehicle =="car"or vehicle=="lorry" or vehicle=="van" or vehicle=="zeep":
    print("four wheeler ")

four wheeler